<template>
    <div class="characters">
        <img src="https://picsum.photos/200/300" alt="Character">
    </div>
</template>

<script>
    export default {
        name: 'Characters'
    }
</script>

<style scoped>

</style>